<div class="office-fit-sec office-fit-sec-first full-width office-fit-sec-image" style="background: url({{ section.settings.bg_image | img_url: 'master' }}) no-repeat;">&nsp;&nsp;</div>
{% schema %}
  {
    "name": "Office Fitouts First",
    "settings": [
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}