.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 40rem;
  max-width: calc(100vw - 3rem);
  padding: 0 1.5rem;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-right: 0;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
  width: 80vw;
  max-width: 1050px;
  transition: all .5s;
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
    position: relative;
    background-color: rgb(var(--color-background));
    padding: 18px 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    margin: 0 -1.5rem 10px;
}

.drawer__heading {
    margin: 0;
    font-size: 18px;
}
.drawer__close {
    display: inline-block;
    padding: 0;
    min-width: 4.4rem;
    min-height: 4.4rem;
    box-shadow: 0 0 0 .2rem rgba(var(--color-button),0);
    position: absolute;
    top: 8px;
    right: 6px;
    color: rgb(var(--color-foreground));
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.drawer__close svg {
    height: 16px;
    width: 16px;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}


.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  background-color: rgb(var(--color-background));
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
  padding: 1.5rem 0;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
    display: flex;
    position: relative;
    line-height: 1;
    padding: 1.5rem 0;
    justify-content: center;
    font-weight: bold;
}
.drawer__footer summary span.summary__title {
    text-decoration: underline;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items, .cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--color-base-background-1));
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
}
.drawer__inner {
    overflow: auto;
  }
@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  
}

.cart-drawer .cart-item {
/*   display: grid;
  grid-template: repeat(2,auto) / repeat(4,1fr);
  gap: 1.5rem;
  margin-bottom: 0; */
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 2rem;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
/*   display: flex;
  align-items: flex-start;
  justify-content: flex-end; */
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
    margin: 30px 0 12px auto;
    text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open]>summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
	flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
	  flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}





  cart-drawer-items.is-empty+.drawer__footer {
    display: block !important;
}
 cart-drawer.drawer.animate.active .drawer__inner {
    right: 0;
    width: 80vw;
   max-width: 1050px;
 transition: all .5s;
   z-index: 10000;
}
.cart-drawer-row {
    display: flex;
    padding: 10px 0 0;
    align-items: flex-start;
}
 .cart-drawer-row cart-drawer-items {
    padding: 0;
    width: 100%;
    max-width: 160rem;
    margin: 0 auto;
}
 .cart-drawer-row .drawer__footer {   
    width: 32%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    background-color: #eaf0ff;
    margin: 0 0 0 15px;
    padding: 1%;
    border: 0;
}
.buttons.clearfix.cart .payment-methods-wrapper {
    text-align: center;
    padding: 10px 5px 5px;
    background: transparent;
    width: 100%;
    margin: 5px auto auto;
}
.buttons.clearfix.cart .payment-methods-wrapper .payment-methods {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
        display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 310px!important;
}
.buttons.clearfix.cart .payment-methods-wrapper .payment-methods li {
    display: inline-block;
    margin:0 2px 4px; 
}
.buttons.clearfix.cart .payment-methods-wrapper .payment-methods.cart-section li img {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0;
    padding: 1px;
    display:block;
}
.features-info-cart {
    display: flex;
    clear: both;
    flex-flow: column nowrap;
    float: none;
    margin-right: auto;
    margin-left: 0;
    padding: 10px;
    background: #eaf0ff;
}
.features-info-cart .shipping-info {
    margin-bottom: 1.5em;
        display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.features-info-cart .shipping-info img {
    width: 36px;
    height: auto;
    margin-right: 5px;
}
.features-info-cart .shipping-info .text {
    font-size: 14px;
    line-height: 18px;
}
.features-info-cart .shipping-info .text  a{
        text-decoration: underline;
}
.CartDrawer_related_products {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    /* justify-content: space-between; */
    padding-left: 0px;
    padding-bottom:20px;
}
.CartDrawer_related_products_in {
    padding: 0 1rem 1rem;
    width: calc(25% - 1.5rem);
    max-width: 50%;
}
.CartDrawer_related_products_in >a {
    box-shadow: 0 0 5px #a4a4a480;
    padding: 5px 5px 15px;
    height: 375px;
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
}
.CartDrawer_related_products_in p {
    font-size: 16px;
    font-family: 'museo-sans' !important;
    font-weight: 700;
    text-decoration: none;
      min-height: 48px;
}
div#CartDrawer_product-price span {
    font-family: 'brandon-grotesque' !important;
    font-weight: 600;
}
.drawer__footer h4.order-sumary-title-text {
    font-size: 20px;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    margin: 0 0 15px;
}

.continue_shopping a {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.continue_shopping {
    margin: 0 0 10px;
}
.continue_shopping a svg {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
.cart-item__totals_inner {
    display: flex;
    align-items: center;
}
.cart-item__totals_inner .cart_item_total_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0 0px 20px;
}
.cart-item  cart-remove-button .icon-remove {
    height: 20px;
    width: 20px;
}
.cart-item cart-remove-button {
    margin-top: 20px;
}
.cart-item__price-wrapper {
    font-weight: bold;
}
.cart-item__price-wrapper span.price {
  font-size:14px;
}


.cart-drawer .cart-items td.cart-item__totals {
    width: 45%;
}
.cart-drawer .cart-items td.cart-item__details {
    width: 40%;
}
.cart-drawer .cart-items td.cart-item__media {
    width: 15%;
}
.cart-drawer .cart-item td {
    border-bottom: 1px solid #e3e3e3;
}
.cart-drawer .totals__subtotal-value {
    font-weight: bold;
    font-size: 16px;
}
.CartDrawer_heading h3 {
    font-weight: bold;
    margin: 0;
    font-size: 24px;
    font-family: brandon-grotesque,sans-serif !important;
}


.CartDrawer_collection_items figure {
    margin: 0;
    position: relative;
}
.CartDrawer_collection_items figure:after {
    display: block;
    content: "";
    padding-bottom: 100%;
}
.CartDrawer_collection_items figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.CartDrawer_related_products_in > a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:auto;
}
.CartDrawer_related_products  .slick-list {
    padding: 10px 0;
}
.CartDrawer_related_products .slick-list .slick-track {
    margin: 0;
}
.CartDrawer_related_products.slick-initialized {
    display: block;
}
.CartDrawer_related_products.slick-initialized .CartDrawer_related_products_in {
    width: 100%;
    max-width: 100%;
}
cart-drawer .drawer__inner-empty {
    display: none;
}
cart-drawer.drawer.animate.active .drawer__inner{
  display:block;
}

.CartDrawer_related_products button.slick-arrow {
    position: absolute;
    left: 10px;
    top: calc(50% - 15px);
    font-size: 0;
    height: 30px;
    width: 30px;
    border: 0;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.CartDrawer_related_products button.slick-arrow.slick-next {
    left: auto;
    right: 10px;
}
.CartDrawer_related_products button.slick-arrow:after {
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    height: 10px;
    width: 10px;
    border-top: 2px solid #243349;
    border-left: 2px solid #243349;
    transform: rotate(-45deg);
}
.CartDrawer_related_products button.slick-arrow.slick-next:after {
    transform: rotate(135deg);
    left: 8px;
}

@media (max-width:1199px){
  cart-drawer.drawer.animate.active .drawer__inner {
      width: 100vw;
  }
  .cart-item__totals_inner {
      flex-wrap: wrap;
      justify-content: flex-end;
  }
  .cart-item__totals_inner .cart-item__quantity-wrapper {
      margin: 0 0 15px;
  }
  .cart-item cart-remove-button {
      margin-top: 5px;
  }
}

@media (max-width:767px){
.cart_drawer_content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.cart-drawer-row {
    flex-direction: column;
    border-top: 1px solid #ddd;
}
.you_may_like_wrap .CartDrawer_heading {
    margin-top: 0;
}
.cart-drawer-row .drawer__footer {
    margin: 10px 0 20px;
    width: 100%;
    padding: 3px 15px;
}
.you_may_like_wrap .CartDrawer_heading {
    margin-top: 0;
}
tr.cart-item {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}
.cart-drawer .cart-items td.cart-item__totals {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 15px;
    padding-left:0px;
}
.cart-item__totals_inner {
    width: 100%;
    justify-content: space-between;
}
.cart-drawer .cart-items td.cart-item__media {
    flex: 0 0 100px;
    max-width: 100px;
    width: auto;
    box-sizing: border-box;
    padding-right: 10px;
    padding-top: 0;
}
.cart-drawer .cart-items td.cart-item__details {
    flex: 0 0 calc(100% - 100px);
    max-width: calc(100% - 100px);
    box-sizing: border-box;
    width: auto;
    padding: 0 0 10px;
}
.you_may_like_wrap .CartDrawer_heading {
    margin-bottom: 5px;
}
}
@media (max-width:480px){
  .CartDrawer_related_products_in p {
      min-height: unset;
}
}