{{ 'office-fitouts.css' | asset_url | stylesheet_tag }}
<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    <article class="pages-bulk-quote">
        {% section 'office-fitouts-hero' %}
        {% section 'office-fitout-first' %}
        {% section 'office-fitout-second' %}
        {% section 'office-fitout-third' %}
        {% section 'office-fitout-fourth' %}
        {% section 'office-fitout-fifth' %}
        {% section 'office-fitout-six' %}
        {% section 'office-fitout-seven' %}
        {% section 'multicolumn' %}
    </article>
</main>
